{% extends '../layout/main.html' %}
{% block content %}
<div class="top_box">
<div class="mtitle top">결제 검색</div>
<form method="get" autocomplete="off">
    <table class="table-cols style2">
        <tr>
            <th>처리상태</th>
            <td colspan='5'>
            {% for code, status in statuses %}
                <input type="checkbox" name="status" value="{{ code }}" id="status_{{ loop.index }}"{{ ' checked' if search.status and search.status.indexOf(code) != -1 }}>
                <label for="status_{{ loop.index }}">{{ status }}</label>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>결제방법</th>
            <td colspan='5'>
            {% for code, method in payMethods %}
                <input type="checkbox" name="payMethod" value="{{ code }}" id="payMethod_{{ loop.index }}"{{ ' checked' if search.payMethod and search.payMethod.indexOf(code) != -1 }}>
                <label for="payMethod_{{ loop.index }}">{{ method }}</label>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>처리ID </th>
            <td width="250">
                <input type="text" name="idPayment" value="{{ search.idPayment }}">
            </td>
            <th>그룹ID</th>
            <td width="250">
                <input type="text" name="gid" value="{{ search.gid }}">
            </td>
            <th>거래 ID</th>
            <td>
                <input type="text" name="pgTransactionId" value="{{ search.pgTransactionId }}">
            </td>
        </tr>
        <tr>
            <th>입금자명</th>
            <td>
                <input type="text" name="name" value="{{ search.name }}">
            </td>
            <th>휴대전화</th>
            <td>
                <input type="text" name="cellPhone" value="{{ search.cellPhone }}">
            </td>
            <th>이메일</th>
            <td>
                <input type="text" name="email" value="{{ search.email }}">
            </td>
        </tr>
    </table>
    <div class="table-btn">
        <input type="submit" value="검색하기">
    </div>
</form>
</div>

<div class="content_box">
<div class="mtitle top">결제 목록</div>
<div class="scroll_x">
<table class="table-rows">
    <thead>
        <tr>
            <th width="120" nowrap>처리ID</th>
            <th width="120" nowrap>처리일시</th>
            <th width="100" nowrap>처리상태</th>
            <th width="150" nowrap>결제방식</th>
            <th width="150" nowrap>그룹 ID</th>
            <th width="150" nowrap>결제금액</th>
            <th width="150" nowrap>입금자명</th>
            <th width="150" nowrap>휴대전화</th>
            <th width="250" nowrap>이메일</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if list.length > 0 %}
    {% for item in list %}
        <tr>
            <td align="center" nowrap>{{ item.id }}</td>
            <td align="center">{{ getLocalDate(item.createdAt, '%Y.%m.%d %H:%i:%s') }}</td>
            <td align="center" nowrap>{{ item.statusStr }}</td>
            <td align="center" nowrap>{{ item.payMethodStr }}</td>
            <td align="center" nowrap>{{ item['PaymentItem.gid'] }}</td>
            <td align="center" nowrap>{{ item.price.toLocaleString() }}원</td>
            <td align="center" nowrap>{{ item.name }}</td>
            <td align="center" nowrap>{{ item.cellPhone }}</td>
            <td align="center" nowrap>{{ item.email }}</td>
            <td nowrap>
                {% if not item.canceledAt and (item.status == 'confirm' or item.status == 'incash') %}
                <span class="cancel_payment sbtn" data-id="{{ item.id }}">
                    <i class="xi-undo"></i>
                    {{ '환불' if item.status == 'incash' else '취소' }}
                </span>
                {% endif %}
                {% if item.receiptUrl %}
                <a href="{{ item.receiptUrl }}" class="sbtn" target="_blank">
                    <i class="xi-list"></i>
                    매출전표
                </a>
                {% endif %}
                <span class="view_payment sbtn black" data-id="{{ item.id }}">
                    <i class="xi-check-min"></i>
                     결제내역
                </span>
            </td>
        </tr>
    {% endfor %}
    {% else %}
    <tr class="no-list">
        <td colspan="9">결제 내역이 없습니다.</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
{{ pagination | safe }}
</div>
{% endblock %}