{% extends '../../layout/main.html' %}
{% block content %}
<div class="content_box mt50">
<div class="mtitle top flex_between">
    메뉴 추가
    <div class="tit_btns">
        <a href="/basic/menu" class="sbtn">
            <i class="xi-list"></i>
            메뉴 관리
        </a>
    </div>
</div>
<form id='frmRegist' method="post" action="/basic/menu/add" target="ifrmProcess" autocomplete="off">
    {% include './_form.html' %}
    <div class="btns">
        <input type="submit" value="등록하기" class="btn">
        <button type="button" class="btn cancel_back white">취소하기</button>
    </div>
</form>
</div>
{% endblock %}