{% extends '../layout/main.html' %}
{% block content %}
<div class="content_box mt50 order_view">
    <input type="hidden" name="orderNo" value="{{ orderNo }}">
    <div class="mtitle flex_between">
        주문정보
        <div class='tit_btns'>
            {% if not isDesigner %}
                {% if orderStatusInfo and orderStatusInfo.setting and orderStatusInfo.setting.orderUpdatePossible %}
                <a href='/order/update/{{ orderNo }}' class='sbtn'>
                    <i class='xi-check-min'></i> 수정하기
                </a>
                {% endif %}
                <a href='/order/add?copy_orderNo={{ orderNo }}' class='sbtn red'>
                    <i class='xi-pen-o'></i>
                    주문서 복사등록
                </a>
            {% endif %}
            {% if shopOrderNo and shopOrderViewUrl %}
                <span class="sbtn black showShopOrderDetail" data-order-no="{{ orderNo }}">
                    <i class="xi-external-link"></i>
                    {{ shopName }} 주문내역 확인
                </span>
            {% endif %}
            <a href='/order' class='sbtn'>
                <i class='xi-list'></i> 주문목록
            </a>
        </div>
        <!-- tit_btns -->
    </div>
    <!-- 기본정보 S -->
    <div class="stitle mt0">기본정보</div>
    <table class="table-cols">
        <tr>
            <th>주문번호</th>
            <td>
                {{ orderNo }}
                {% if shopOrderNo %}
                / [{{ shopOrderNo }}]
                {% endif %}
            </td>
            <th>접수일시</th>
            <td>
                {{ getLocalDate(createdAt, '%Y.%m.%d %H:%i:%s')}}
            </td>
        </tr>
        <tr>
            <th>유입경로</th>
            <td>
                {{ channel if channel else '본사' }}
                {{ '(' + shopName + ')' if shopName }}
            </td>
            <th>접수상담원</th>
            <td>
                {% if managerInfo %}
                    {{ managerInfo.managerNm }}({{ managerInfo.managerId }})
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>처리상태</th>
            <td>
                {% if isDesigner %}
                    {{ orderStatusInfo.statusNm }}
                {% else %}
                    <select name='orderStatus' class='wauto' data-order-no='{{ orderNo }}'>
                        {% if orderStatuses.length > 0 %}
                        {% for item in orderStatuses %}
                            <option value='{{ item.statusCd }}'{{ ' selected' if orderStatus == item.statusCd }}>{{ item.statusNm }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    {% if orderStatusInfo.setting and orderStatusInfo.setting.sendAlimTalk %}
                    <span class="send_order_status_message sbtn medium black" data-order-no="{{ orderNo }}">
                        <i class='xi-send'></i> 메세지 수동 전송
                    </span>
                    {% endif %}
                {% endif %}
            </td>
            <th>주문자 구분</th>
            <td>{{ '사업자' if ordererType == 'company' else '일반' }}</td>
        </tr>
        <tr>
            <th>주문자명</th>
            <td>{{ orderNm }}</td>
            <th>업체명</th>
            <td>{{ companyNm }}</td>
        </tr>
        <tr>
            <th>휴대전화</th>
            <td>{{ orderCellPhone }}</td>
            <th>상담기록</th>
            <td>
                <span class='sbtn cs_search' data-order-no='{{ orderNo }}' data-customer-nm='{{ orderNm }}' data-cell-phone='{{ orderCellPhone }}'>
                    <i class='xi-search'></i>상담기록조회
                </span>
                {% if not isDesigner %}
                <a class='sbtn' href='/customer/add?orderNo={{ orderNo }}' target='_blank'>
                    <i class='xi-plus-square'></i>상담등록하기
                </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>관리자 메모</th>
            <td colspan="3">
                <textarea class="csMemo"{{ ' readonly' if isDesigner }}>{{ memo }}</textarea>
            </td>
        </tr>
        <tr>
            <th>바코드 관리</th>
            <td colspan="3">
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="7"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="9"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="11"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="13"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="15"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="17"
                    jsbarcode-displayValue="false">
                </svg>
                <svg class="barcode"
                    jsbarcode-value="{{ orderNo }}"
                    jsbarcode-width="1"
                    jsbarcode-height="19"
                    jsbarcode-displayValue="false">
                </svg>

                <script>
                    JsBarcode(".barcode").init();
                </script>
                <a href="/order/barcode?code={{ orderNo }}" target="_blank" class="sbtn">바코드 생성</a>
            </td>
        </tr>
    </table>
    <!-- 기본정보 E -->


    <!-- 품목정보 S -->
    <div class="stitle">품목정보</div>
    {% if items and items.length > 0 %}
    <ul class='order_items'>
    {% for item in items %}
        <li class='order_item'>
            <div class="item_no_box">
                <div class="item_txt">품주번호 {{ item.id }}</div>
            </div>
            <!--// item_no_box -->
            <div class="item_info_box">
                <table class="table-cols style2 mb10">
                    <tr>
                        <th>구분</th>
                        <td class="w250">
                            {% if item.productItemInfo.itemType == 'branch' %}
                            지사
                            {% elif item.productItemInfo.itemType == 'company' %}
                            거래처{{ "(" + item.productItemInfo['Company.companyNm'] + ")" if item.productItemInfo['Company.companyNm'] }}
                            {% else %} 
                            본사
                            {% endif %}
                        </td>
                        <th>분류</th>
                        <td>
                            {{ item.productItemInfo['ProductCategory.cateNm'] }}
                            {% if item.idProductGuide %}
                            <a href="/order/send_guide/{{ orderNo }}/{{ item.idProductGuide }}" class="sbtn ml10" target="ifrmProcess">
                                <i class="xi-send"></i> 사용안내 전송
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>품목코드</th>
                        <td>{{ item.itemCode }}</td>
                        <th>품목명</th>
                        <td>{{ item.itemNm }}{{ " / " + item.itemNmSub if item.itemNmSub }}</td>
                    </tr>
                </table>
                <table class="table-rows mb10">
                    <thead>
                        <tr>
                            {% if item.itemSizeWidth or item.itemSizeHeight %}
                            <th class="w250">사이즈(cm)</th>
                            {% endif %}
                            <th class="w250">기본옵션(수량별 적용)</th>
                            <th class="w250">입력옵션</th>
                            <th class="w150">수량</th>
                            <th>추가옵션</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if item.itemSizeWidth or item.itemSizeHeight %}
                            <td align="center">{{ item.itemSizeWidth.toLocaleString() + "Cm" if item.itemSizeWidth }}{{ ' X ' if item.itemSizeWidth and item.itemSizeHeight }}{{ item.itemSizeHeight.toLocaleString() + "Cm" if item.itemSizeHeight }}</td>
                            {% endif %}
                            <td>
                                {% if item.optionInfo and item.optionInfo.length > 0 %}
                                {% for opt in item.optionInfo %}
                                <div>
                                    [{{ opt.optionCd }}]{{ opt.optionNm }}
                                    {{ "(" + opt.addPrice.toLocaleString() + "원)" if opt.addPrice }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.textOptionTexts and item.textOptionTexts.length > 0 %}
                                {% for opt in item.textOptionTexts %}
                                <div>
                                    [{{ opt.optionCd }}]{{ opt.optionNm }} : {{ opt.text }}
                                    {{ "(" + opt.addPrice.toLocaleString() + "원)" if opt.addPrice }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td align="center">{{ item.itemCnt.toLocaleString() }}개</td>
                            <td>
                                {% if item.subOptionInfo and item.subOptionInfo.length > 0 %}
                                {% for opt in item.subOptionInfo %}
                                <div>
                                    [{{ opt.optionCd }}]{{ opt.optionNm }}
                                    {{ "(" + opt.addPrice.toLocaleString() + "원)" if opt.addPrice }} X {{ opt.optionCnt }}개
                                </div>
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table-cols style2 mb10">
                    <tr>
                        <th>관리자 메모</th>
                        <td colspan="3">
                            <input type="text" class="itemMemo wFull" value="{{ item.itemMemo }}" data-id-order-item="{{ item.id }}" {{ ' readonly' if isDesigner }}>
                        </td>
                    </tr>
                    <tr>
                        <th>첨부파일</th>
                        <td class="w250">
                            {% if item.attachFiles %}
                            {% for file in item.attachFiles %}
                                <a href='/file/download/{{ file.id }}' class='sbtn mb5'>
                                    <i class='xi-file-download-o'></i> {{ file.fileName }}
                                </a>
                            {% endfor %}
                            {% endif %}
                        </td>
                        <th>샘플이미지</th>
                        <td class='sample_images'>
                            {% if item.samples and item.samples.length > 0 %}
                            {% for sample in item.samples %}
                                <div class='sample'>
                                    <dl>
                                        <dt>샘플번호</dt>
                                        <dd>{{ sample.itemCd }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>샘플명</dt>
                                        <dd>{{ sample.itemNm }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>다운로드</dt>
                                        <dd>
                                            <a href='{{ sample.downlooadLink }}' class='sbtn'>
                                                <i class='xi-file-download-o'></i>
                                                이미지
                                            </a>
                                            <a href='{{ sample.aiDownloadLink }}' class='sbtn black'>
                                                <i class='xi-file-download-o'></i>
                                                ai파일
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>디자인 상태</th>
                        <td>

                            {% if not item.designConfirmed and orderStatusInfo and orderStatusInfo.setting.orderDesignUpdate %}
                            <select name='designStatus' class='wauto' data-order-no='{{ orderNo }}' data-id-order-item='{{ item.id }}'>
                                <option value="">디자인상태 선택</option>
                                {% if designStatuses.length > 0 %}
                                {% for status in designStatuses %}
                                    <option value='{{ status.statusCd }}'{{ ' selected' if item.designStatus == status.statusCd }}>{{ status.statusNm }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            {% if item.designStatusInfo and item.designStatusInfo.tmpltCode  %}
                                <span class="send_design_status_message btn5 black" data-id="{{  item.id }}">
                                    <i class='xi-send'></i> 메세지
                                </span>
                            {% endif %}
                            {% else %} 
                            <input type="hidden" name="designStatus" value="{{ item.designStatus }}">
                            {{ item.designStatusStr }}
                            {% if item.designConfirmed %}
                                <span class='highlight'>(확정{{ ' : ' + getLocalDate(item.desginConfirmDateTime, '%Y.%m.%d %H:%i:%s') if item.desginConfirmDateTime }})</span>
                                <span class="send_design_confirm_message btn5 black" data-id="{{  item.id }}">
                                    <i class='xi-send'></i> 확정 메세지
                                </span>
                            {% endif %}
                            {% endif %}
                        </td>
                        <th>디자이너/시안관리</th>
                        <td>
                            {% if isDesigner %}
                                {% if item.designerInfo %}
                                {{ item.designerInfo.managerNm }}({{ item.designerInfo.managerId }})
                                {% endif %}
                            {% else %}
                                {% if not item.designConfirmed and orderStatusInfo and orderStatusInfo.setting.orderDesignUpdate %}
                                {% if item.isDesignerChanging %}
                                <div class="icons mb5">
                                    <span class="icon change_designer" data-id-order-item="{{ item.id }}">디자이너 변경 요청</span>
                                </div>
                                {% endif %}

                                <select class="idDesigner{{ ' assigned' if item.idDesigner }}" data-id-order-item='{{ item.id }}'>
                                    {% if not item.idDesigner %}
                                    <option value="">디자이너 배정</option>
                                    {% endif %}
                                {% if designers and designers.length > 0 %}
                                {% for designer in designers %}
                                    <option value="{{ designer.id }}"{{ ' selected' if designer.id == item.idDesigner }}>{{ designer.managerNm }}({{ designer.managerNm }})</option>
                                {% endfor %}
                                {% endif %}
                                </select>
                                
                                {% else %}
                                {% if item.designerInfo %}
                                {{ item.designerInfo.managerNm }}({{ item.designerInfo.managerId }})
                                {% endif %}
                                {% endif %}
                            {% endif %}
                            
                            {% if item.idDesigner and orderStatusInfo and orderStatusInfo.setting.orderDesignUpdate %}
                            <span class='btn5 black add_design_draft' data-item-uid='{{ item.itemUid }}'>
                                <i class='xi-file-upload-o'></i>
                                등록/수정
                            </span> 
                            {% endif %}
                        </td>
                    </tr>
                    {% if item.designerChangeLogs and item.designerChangeLogs.length > 0 %}
                    <tr>
                        <th>디자이너 변경<br>요청 처리로그</th>
                        <td colspan='3'>
                            <table class="table-rows style2">
                                <thead>
                                    <tr>
                                        <th>신청일시</th>
                                        <th>변경전</th>
                                        <th>변경후</th>
                                        <th>처리일시</th>
                                        <th>처리자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for it in item.designerChangeLogs %}
                                    <tr>
                                        <td align="center">{{ getLocalDate(it.createdAt, '%Y.%m.%d %H:%i:%s') }}</td>
                                        <td align="center">
                                        {% for designer in designers %}
                                        {% if designer.id == it.prevIdDesigner %}
                                            {{ designer.managerNm }}({{ designer.managerId }})
                                        {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td align="center">
                                        {% for designer in designers %}
                                        {% if designer.id == it.nextIdDesigner %}
                                            {{ designer.managerNm }}({{ designer.managerId }})
                                        {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td align="center">{{ getLocalDate(it.updatedAt, '%Y.%m.%d %H:%i:%s') }}</td>
                                        <td align="center">
                                            {% if it['Manager.managerId'] %}
                                                {{ it['Manager.managerNm'] }}({{ it['Manager.managerId'] }})
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>작업 파일명</th>
                        <td>
                            <input type="text" class="workFileName" id="workFileName_{{ item.id }}" value="{{ item.workFileName }}" data-id-order-item='{{ item.id }}'>
                        <th nowrap>작업자 전달사항</th>
                        <td>
                            <input type="text" class="workMemo" id="workMemo_{{ item.id }}" value="{{ item.workMemo }}" data-id-order-item='{{ item.id }}'>
                        </td>
                        </td>
                    </tr>
                </table>

                <table class="table-cols style2 mb10">
                    <tr>
                        <th>판매원가</th>
                        <td>{{ item.itemPrice.toLocaleString() }}원</td>
                    </tr>
                    <tr>
                        <th nowrap>품목별결제정보</th>
                        <td class="pay_summary">
                            상품합계({{ item.itemTotalPrice.toLocaleString() }}원) - 
                            할인합계({{ item.itemDiscount.toLocaleString() }}원) + 
                            배송비({{ item.deliveryCharge.toLocaleString() }}원
                            {% if item.deliveryChargePost > 0 %}
                            / 착불 : {{ item.deliveryChargePost.toLocaleString() }}원 포함
                            {% endif %}
                            {% if item.deliveryAreaCharge > 0 %}
                            / 지역별 배송비 : {{ item.deliveryAreaCharge.toLocaleString() }}원 추가
                            {% endif %}
                            ) = 
                            총합({{ (item.itemTotalPrice - item.itemDiscount + item.deliveryCharge).toLocaleString() }}원)        
                        </td>
                    </tr>
                </table>

                <table class="table-cols style2">
                    <tr>
                        <th>묶음배송</th>
                        <td>
                            {{ '개별배송' if item.packageDelivery == 'each' else '묶음배송' }}
                        </td>
                    {% if item.packageDelivery == 'each' %} 
                        <th>희망출고일</th>
                        <td>{{ getLocalDate(item.preferredDeliveryReleasedDate, '%Y.%m.%d') if item.preferredDeliveryReleasedDate }}</td>
                    {% endif %}
                    </tr>
                    {% if item.packageDelivery == 'each' %} 
                    <tr>
                        <th>배송조건</th>
                        <td class="w250">
                        {% if item.idDeliveryPolicy %}
                            {{ item.deliveryPolicy.policyNm }}
                            {{ '(' + item.deliveryTypeStr + ')' if item.deliveryTypeStr }}
                        {% endif %}
                        </td>
                        <th>출고일</th>
                        <td>{{ getLocalDate(item.deliveryReleasedDate, '%Y.%m.%d') if item.deliveryReleasedDate }}</td>
                    </tr>
                    <tr>
                        <th>배송비</th>
                        <td>{{ item.deliveryCharge.toLocaleString() }}원</td>
                        <th>운송장</th>
                        <td>
                            {{ item.deliveryCompany }} {{ item.deliveryInvoice }}
                            {% if item.deliveryCompany and item.deliveryInvoice %}
                            <span class='sbtn black delivery_trace' data-company-nm='{{ item.deliveryCompany }}' data-invoice='{{ item.deliveryInvoice }}'>
                                배송조회
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>수령인</th>
                        <td colspan="3">{{ item.receiverNm }}</td>
                    </tr>
                    <tr>
                        <th nowrap>수령인휴대전화</th>
                        <td colspan="3">{{ item.receiverCellPhone }}</td>
                    </tr>
                    <tr>
                        <th>배송지 주소</th>
                        <td colspan="3">
                            {{ '(' + item.receiverZonecode  + ')' if item.receiverZonecode }}
                            {{ item.receiverAddress }} {{ item.receiverAddressSub }}
                        </td>
                    </tr>
                    <tr>
                        <th>배송메세지</th>
                        <td colspan="3">
                            {{ item.deliveryMemo }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <!--// item_info_box -->
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <div class='no-items'>주문된 품목이 없습니다.</div>
    {% endif %}

    <!-- 품목정보 E -->

    <!-- 배송지 정보 S -->
    {% if isPackageDeliveryIncluded %}
    <div class="stitle flex_between">
        배송지 정보
        {% if orderStatusInfo and orderStatusInfo.setting and orderStatusInfo.setting.orderDeliveryUpdate and not isDesigner %}
        <div class='tit_btns'>
            <a class='sbtn'  href='/order/delivery/{{ orderNo }}'>
                <i class='xi-pen-o'></i>
                변경하기
            </a>
        </div>
        {% endif %}
    </div>
    <table class="table-cols">
        <tr>
            <th>묶음배송</th>
            <td class="w250">묶음배송</td>
            </td>
            <th>희망출고일</th>
            <td>
                {{ getLocalDate(preferredDeliveryReleasedDate, '%Y.%m.%d') if preferredDeliveryReleasedDate }}
            </td>
        </tr>
        <tr>
            <th>배송조건</th>
            <td>
                {% if idDeliveryPolicy %}
                {{ deliveryPolicy.policyNm }}
                {{ '(' +  deliveryTypeStr + ')' if deliveryTypeStr }}
                {% endif %}
            </td>
            <th>출고일</th>
            <td>
                {{ getLocalDate(deliveryReleasedDate, '%Y.%m.%d') if deliveryReleasedDate }}
            </td>
        </tr>
        <tr>
            <th>배송비</th>
            <td>{{ deliveryCharge.toLocaleString() }}원</td>
            <th>운송장</th>
            <td>
                {{ deliveryCompany }} {{ deliveryInvoice }}
                {% if deliveryCompany and deliveryInvoice %}
                <span class='sbtn black delivery_trace' data-company-nm='{{ deliveryCompany }}' data-invoice='{{ deliveryInvoice }}'>
                    배송조회
                </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>수령인</th>
            <td colspan="3">
                {{ receiverNm }}
            </td>
        </tr>
        <tr>
            <th>수령인휴대전화</th>
            <td colspan="3">
                {{ receiverCellPhone }}
            </td>
        </tr>
        <tr>
            <th>배송지 주소</th>
            <td colspan="3">
            {{ '(' + receiverZonecode + ')' if receiverZonecode }}
            {{ receiverAddress }} {{ receiverAddressSub }}
            </td>
        </tr>
        <tr>
            <th>배송메시지</th>
            <td colspan="3">{{ deliveryMemo }}</td>
        </tr>
    </table>
    {% endif %}
    <!-- 배송지 정보 E -->

    <!-- 증빙 자료 S -->
    <div class="stitle flex_between">
        증빙 자료
        {% if not isDesigner %}
        <div class='tit_btns'>
            <span class='sbtn' id='change_receipt_type' data-order-no='{{ orderNo }}'>
                <i class='xi-pen-o'></i>
                변경하기
            </span>
        </div>
        {% endif %}
    </div>
    <table class="table-cols receipt_type">
        {% if receiptType.indexOf('tax') != -1 or receiptType.indexOf('cash') != -1 %}
        <tr>
            <th>
                {% if receiptType.indexOf('tax') != -1 %}
                세금계산서
                {% else %}
                현금영수증
                {% endif %}
            </th>
            <td>
                {% if receiptType.indexOf('tax') != -1 %}
                <dl>
                    <dt>사업자등록번호</dt>
                    <dd>{{ taxReceiptBusinessNo }}</dd>
                </dl>
                <dl>
                    <dt>업체명/대표자명</dt>
                    <dd>{{ taxReceiptCompanyNm }}</dd>
                </dl>
                <dl>
                    <dt>담당자 이메일</dt>
                    <dd>{{ taxReceiptEmail }}</dd>
                </dl>
                <dl>
                    <dt>사업자등록증</dt>
                    <dd>
                        {% if businessCert %} 
                        <span class='file_box'>
                            <a href='/file/download/{{ businessCertFileId }}'>
                                {{ businessCert.fileName }}
                            </a>
                        </span>
                        {% endif %}
                    </dd>
                </dl>
                {% else %}
                <dl>
                    <dt>
                        {% if cashReceiptType == 'jumin' %}
                            주민등록번호
                        {% elif cashReceiptType == 'cellPhone' %}
                            휴대전화번호
                        {% elif cashReceiptType == 'businessNo' %}
                            사업자번호
                        {% endif %}
                    </dt>
                    <dd>
                        {{ cashReceiptNo }}
                        {% if payType == 'lbt' %}
                        {% if cashReceiptIssued and cashReceiptIssued.pgResultCode == '00' and cashReceiptIssued.pgApproveNo %}
                        <div class="mt5">발급완료(승인번호 : {{ cashReceiptIssued.pgApproveNo }})</div>
                        {% else %}
                        <a href="/payment/cash_receipt/issue?orderNo={{ orderNo }}" target="_blank" class="sbtn">
                            <i class="xi-check-min"></i>
                            발급하기
                        </a>
                        {% endif %}
                        {% endif %}
                    </dd>
                </dl>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if receiptType.indexOf('estimate') != -1 %}
        <tr>
            <th>견적서</th>
            <td>
                <a class='sbtn' href='/order/estimate/{{ orderNo }}' target='_blank'>
                    <i class='xi-print'></i>
                    출력하기
                </a>
            </td>
        </tr>
        {% endif %}
    </table>

    <!-- 증빙 자료 E -->

    <!-- 결제 정보 S -->
    <div class="stitle flex_between">
        결제 정보
        {% if orderStatusInfo and orderStatusInfo.setting and orderStatusInfo.setting.orderAddPayment and not isDesigner %}
        <div class="tit_btns">
            <span class="sbtn" id="add_payment" data-order-no="{{ orderNo }}">
                <i class="xi-plus-min"></i>
                추가금액 등록
            </span>
        </div>
        {% endif %}
    </div>
    <table class="table-cols">
        <tr>
            <th>결제수단</th>
            <td>
                {% if payType == 'lbt' %}
                무통장
                {% else %}
                카드결제
                 {% endif %}
            </td>
        </tr>
        {% if payType == 'lbt' %}
        <tr>
            <th>입금자명</th>
            <td>{{ depositor }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>배송비 합계</th>
            <td>
                {{ totalDeliveryCharge.toLocaleString() }}원
                {% if totalDeliveryChargePost > 0 %}
                (착불 {{ totalDeliveryChargePost.toLocaleString() }}원 포함)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>할인 합계</th>
            <td>{{ (totalDiscount * -1).toLocaleString() }}원</td>
        </tr>
        {% if addPayments and addPayments.length > 0 %}
        <tr>
            <th>추가금액</th>
            <td>
                <div class="mb10">{{ totalAddPayment.toLocaleString() }}원</div>
                <table class="table-rows">
                    <thead>
                        <tr>
                            <th class="w250">추가항목</th>
                            <th class="w150">추가금액</th>
                            <th class="w150">담당자</th>
                            <th class="wauto"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in addPayments %}
                        <tr>
                            <td>{{ item.itemNm }}</td>
                            <td align="center">{{ item.itemPrice.toLocaleString() }}원</td>
                            <td align="center">{{ item['Manager.managerNm'] }}<br>({{ item['Manager.managerId'] }})</td>
                            <td>
                                <a href="/order/delete_payment/{{ item.id }}" class="sbtn"  target="ifrmProcess" onclick="return confirm('정말 취소하시겠습니까?');">
                                    <i class="xi-minus-square"></i>
                                    등록 취소하기
                                </a>
                                <span class="sbtn update_add_payment black" data-id="{{ item.id }}">
                                    <i class="xi-check-min"></i>
                                    관리하기
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th nowrap>총합계(결제금액)</th>
            <td>{{ totalPayPrice.toLocaleString() }}원</td>
        </tr>
        {% if orderStatusInfo and orderStatusInfo.setting and orderStatusInfo.setting.orderCreatePayment and not isDesigner %}
        <tr>
            <th>결제하기</th>
            <td>
                {% if paymentItems and paymentItems.length > 0 %}
                <table class="table-rows mb10" width="100%">
                    <thead>
                        <tr>
                            <th class="w250">결제항목</th>
                            <th class="w140">결제금액</th>
                            <th class="w120">담당자</th>
                            <th class="wauto"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in paymentItems %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td align="center">{{ item.amount.toLocaleString() }}원</td>
                        <td align="center">{{ item['Manager.managerNm'] }}<br>({{ item['Manager.managerId'] }})</td>
                        <td>
                            {% if item.payDoneAt %} 
                            {% if item.payments %}
                            <table class="table-rows">
                                <tr>
                                    <th class="w100" nowrap>처리ID</th>
                                    <th class="w100" nowrap>처리상태</th>
                                    <th class="w130" nowrap>결제방식</th>
                                    <th class="w130" nowrap>결제금액</th>
                                    <th class="wauto"></th>
                                </tr>
                                {% for payment in item.payments %}
                                {% if payment.status != 'request' %}
                                <tr>
                                    <td align="center">{{ payment.id }}</td>
                                    <td align="center">{{ payment.statusStr }}</td>
                                    <td align="center">{{ payment.payMethodStr }}</td>
                                    <td align="center">{{ payment.price.toLocaleString() }}원</td>
                                    <td nowrap>
                                       
                                        {% if payment.canceledAt %}
                                        취소/환불 일시 : {{ payment.canceledAt }}
                                        {% else %}
                                        {% if payment.status == 'confirm' or payment.status == 'incash' %}
                                        <span class="cancel_payment sbtn" data-id="{{ payment.id }}">
                                            <i class="xi-undo"></i>
                                            {{ '환불' if payment.status == 'incash' else '취소' }}
                                        </span>
                                        {% endif %}
                                        {% endif %}
                                        {% if payment.receiptUrl %}
                                        <a href="{{ payment.receiptUrl }}" class="sbtn" target="_blank">
                                            <i class="xi-list"></i>
                                            매출전표
                                        </a>
                                        {% endif %}
                                        <span class="view_payment sbtn black" data-id="{{ payment.id }}">
                                            <i class="xi-check-min"></i>
                                             결제내역
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                            {% endif %}
                            {% else %}
                            <div class="mb5">
                                <a href="/payment/delete/{{ item.id }}" class="sbtn" target="ifrmProcess" onclick="return confirm('정말 삭제하시겠습니까?');">
                                    <i class="xi-minus-square"></i>
                                    삭제
                                </a>
                                <span class='sbtn update_created_payment' data-id="{{ item.id }}">
                                    <i class='xi-check-min'></i>
                                    관리하기
                                </span>
                                <a class="sbtn" href="{{ host }}{{ item.payUrl }}" target="_blank">
                                    <i class="xi-credit-card"></i>
                                    결제하기
                                </a>
                            </div>
                            <span class="sbtn black" onclick="codefty.common.copyToClipBoard('{{ host }}{{ item.payUrl }}')">
                                <i class="xi-share"></i>
                                결제 URL 복사
                            </span>
                            <a class="sbtn on" href="/order/sendPayUrl/{{ item.id }}" target="ifrmProcess" onclick="return confirm('정말 결제 요청 URL을 전송하시겠습니까?');"> 
                                <i class="xi-send"></i>
                                결제요청 URL 전송
                            </a>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <span class="sbtn" id="create_payment" data-order-no="{{ orderNo }}">
                    <i class="xi-credit-card"></i>
                    결제 생성하기
                </span>
            </td>
        </tr>
        {% endif %}
    </table>
    
    <!-- 결제 정보 E -->
</div>
<!--// content_box -->

<div class='btns mb100'>
    <a href='/order' class='btn'>주문목록</a>
    {% if not isDesigner %}
    <a href='/order/add?copy_orderNo={{ orderNo }}' class='btn white'>주문서 복사등록</a>
    {% endif %}
</div>
{% endblock %}