{% extends '../layout/main.html' %}
{% block content %}
<div class="content_box mt50">
<div class="mtitle top flex_between">
    보드형 사이즈 등록
    <div class="tit_btns">
        <a href="/product/board_size" class="sbtn">
            <i class="xi-check-min"></i>
            보드형 사이즈 관리 
        </a>
    </div>
</div>
<form id='frmRegist' method='post' action="/product/board_size/add" target="ifrmProcess" autocomplete="off">
{% include './_form_board_size.html' %}
<div class="btns">
    <input type="submit" value="등록하기" class="btn">
    <button type="button" class="btn cancel_back white">취소하기</button>
</div>
</form>
</div>
{% endblock %}