{% extends '../layout/main.html' %}
{% block content %}
<div class="content_box mt50">
<div class="mtitle top flex_between">
    템플릿 수정
    <div class="tit_btns">
        <a href="/kakao_alimtalk/template" class="sbtn">
            <i class="xi-list"></i>
            템플릿 목록
        </a>
    </div>
</div>
<form id='frmRegist' method='post' action="/kakao_alimtalk/template/update/{{ tmpltCode }}" autocomplete="off" target="ifrmProcess">
    <input type="hidden" name="tmpltCode" value="{{ tmpltCode }}">
    {% include './_form.html' %}
    <div class="btns">
        <input type="submit" class='btn' value="수정하기">
        <button type="button" class="btn white cancel_back">취소하기</button>
    </div>
</form>
</div>
{% endblock %}