{% extends '../layout/main.html' %}
{% block content %}
<div class="top_box">
    <div class='mtitle top flex_between'>
        간편 주문서 검색
        <div class="tit_btns">
            <a href="/simple" class="sbtn" target="_blank">
                <i class="xi-pen-o"></i> 간편 주문서
            </a>
        </div>
    </div>
    <form id='frmSearch' method='get' autocomplete='off'>
        <input type='hidden' name="limit" value="{{ limit }}">
        <table class='table-cols style2'>
            <tr>
                <th>접수일</th>
                <td>
                    <input type='date' name='sDate' value='{{ search.sDate }}' class='w120'> ~ 
                    <input type='date' name='eDate' value='{{ search.eDate }}' class='w120'>
                    <span class='quick_date' data-target-name='sDate,eDate'>
                        <span class="date_span" data-span="0_day">오늘</span>
                        <span class="date_span" data-span="1_day">하루전</span>
                        <span class="date_span" data-span="2_day">이틀전</span>
                        <span class='date_span' data-span='1_week'>1주</span>
                        <span class='date_span' data-span='2_week'>2주</span>
                        <span class='date_span' data-span='1_month'>1개월</span>
                        <span class='date_span' data-span='2_month'>2개월</span>
                        <span class='date_span' data-span='1_year'>1년</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th>키워드 검색</th>
                <td>
                    <select name="sopt" class="wauto">
                        <option value='all'{{ ' selected' if not search.sopt or search.sopt == 'all' }}>통합검색</option>
                        <option value='orderNo'{{ ' selected' if search.sopt == 'orderNo' }}>주문번호</option>
                        <option value='orderNm'{{ ' selected' if search.sopt == 'orderNm' }}>고객명</option>
                        <option value='cellPhone'{{ ' selected' if search.sopt == 'cellPhone' }}>연락처</option>
                    </select>
                    <input type="text" name="skey" value="{{ search.skey }}" class="w300">
                </td>
            </tr>
        </table>
        <div class='table-btn'>
            <input type='submit' value='검색하기'>
        </div>
    </form>
</div>
<!--// top_box -->
<div class="content_box">
    <div class='mtitle'>간편 주문서 접수 목록</div>
    {% if limits and limits.length > 0 %}
    <div class="limits_tab" data-target-id="frmSearch">
    {% for num in limits %}
        <span class="sbtn tab{{ ' on' if num == limit }}" data-limit="{{ num }}">{{ num }}개씩 보기</span>
    {% endfor %}
    </div>
    {% endif %}

    <ul class="customer_list">
    {% if list and list.length > 0 %}
    {% for item in list %}
        <li>
            <div class="cs_no"></div>
            <div class="cs_content">
                <table class='table-rows mb10'>
                    <thead>
                        <tr>
                            <th width="160">주문자명</th>
                            <th width="150">휴대전화</th>
                            <th>주문상품</th>
                            <th width="250"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">{{ item.orderNm }}</td>
                            <td align="center">{{ item.cellPhone }}</td>
                            <td>{{ item.productNm }}</td>
                            <td>
                                {% if not item.orderNo %}
                                <a href="/order/add?idSimpleOrder={{item.id}}" class="sbtn" target="_blank">
                                    <i class="xi-pen-o"></i>주문서 접수하기
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-cols style2">
                    <tbody>
                        <tr>
                            <th>주소</th>
                            <td>
                                {{ '(' + item.zonecode + ')' if item.zonecode }} {{ item.address }} {{ item.addressSub }}
                            </td>
                        </tr>
                        <tr>
                            <th>요청사항</th>
                            <td>
                                {{ nl2br(item.orderMemo) | safe }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    {% endfor %}
    {% else %}
        <li class='no-list'>조회된 간편주문서가 없습니다.</li>
    {% endif %}
    </ul> 

    <!--// customer_list -->
    {{ pagination | safe }}
</div>
<!--// content_box -->
{% endblock %}