<div class="popup_confirm_design">
    <div class="box1">
        시안을 꼼꼼히 확인해주셨나요?<br>
        주의사항을 반드시 읽어주세요.
    </div>
    <div class="box2">
        <div class='stit'>주의사항</div>
        시안의 오타가 없는지 확인하셨나요?<br>
        시안의 해상도를 확인하셨나요?<br>
        모니터로 보는 색상과 출력되는 색상의 차이가 발생할 수 있습니다.<br>
        수작업 특성상 표면에 미세한 스크래치가 발생할 수 있습니다.<br>
        출력과정중 오차 ±1~5cm가 발생할 수 있습니다.<br>
        당사 디자인은 저작권 보호를 받고 있어 원본 파일 제공이 절대 불가합니다.<br>
        무단으로 온라인 게시 저작권 침해에 해당, 법적인 처벌을 받을 수 있습니다.<br>
        주문제작 상품으로 출력이 진행된 이후에는 교환 및 환불이 불가합니다.
    </div>
    <div class="box3">
        <div class="agree_term">
            <input type="checkbox" id="agree_design_confirm">
            <label for="agree_design_confirm">주의사항을 확인하였으며, 이에 대한 문제제기를 하지 않겠습니다.</label>
        </div>
        <!--// agree_term -->
        <button type="submit" id="design_confirm" data-uid="{{ uid }}">확정하기</button>
    </div>
</div>
<!--// popup_confirm_design -->