{% extends '../layout/mypage.html' %}
{% block content %}
<section id="mypage_main">

<form id="frm" name="frm" method="post" autocomplete="off" target="ifrmProcess">
    <div class="txt1"><span>주문하신분의</span> <span>휴대전화번호를 기입해 주세요.</span></div>
    <input type="text" name="cellPhone">
    <button type="submit" class="search_btn">검색하기</button>

    <div class="txt2">
        뉴마커스에서 주문하신 상품의 상세내역을 확인할 수 있는 페이지입니다.<br>
        휴대전화번호를 잊으셨으면 고객센터(032-765-1884)로 문의바랍니다. 
    </div>
</form>

</section>
<!--// mypage_main -->
{% endblock %}