{% extends '../layout/popup.html' %}
{% block script %}
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock %}
{% block content %}
<section id="wrap">
<div class="simple_tit">간편 주문 접수하기</div>
<form id="frmRegist" name="frmRegist" method="post" action="/simple" target="ifrmProcess">
    {% include "./_form.html" %}
    <div class="guide">주문서를 접수해 주시면 순차적으로 전화드립니다.</div>
    <button type="submit" onclick="return confirm('정말 접수하시겠습니까?');">주문 접수하기</button>
</form>
</section>
{% endblock %}